@mixin message {
  .ant-message-notice-content {
    border-radius: $border-radius-xsmall;
    padding: 10px 16px;
    height: 38px;

    .ant-message-custom-content {
      line-height: 1.3;
      @include flex-center-ver;

      @include media-breakpoint-down(lg) {
        color: $black-14;
      }
    }
  }
}

.custom-message-collapsed {
  margin-left: 52px;
  margin-top: 33px;
  @include message;
}

.custom-message-expanded {
  margin-left: 226px;
  margin-top: 33px;
  @include message;

  @include media-breakpoint-down(lg) {
    margin: 0;
    padding: 0;
  }
}
